<!-- Partials for nav web -->
<section class="webs">
        <nav class="nav-web">
               <ul>
                        
                        <li> <a href="/">E-portal</a></li>                                                        
                        <li> <a href="/course-registration">Register Course</a>   </li>  
                        <li> <a href="/courseform"> Course form </a></li>                  
                           
                        <% if(user) {%>
                
                        <li><a href="/access/logout">Logout</a></li>
                        <%} else {%>
                
                        <li><a href="/access/log-in">Login</a></li>
                        <%}%>
        
                </ul> 
        </nav>
    </section> 