<!-- Html for  student Electronic portal home page  -->

<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        

        <title>E-portal</title>

        <link rel="stylesheet" href="/styles/css/eportal.css" type="text/css">
        <link rel="stylesheet" href="/styles/css/all.css" type="text/css">
        <link rel="icon" href="/styles/images/eportal-logo.png">
        
    </head>

    <body> 
             
        <section>
            <header class="mobiles">                  
        
                    <nav class="nav-mobile">
                                <ul>                       
                                        <li> 
                                                <div class="rides">
                                                <button> <img src="/styles/images/nav-image.jpg" alt=""></button>
                                                <div class="rides-content"> 
                                                    <a href="/">E-portal</a> <hr>                                                       
                                                    <a href="/course-registration">Course Registration</a>    <hr> 
                                                    <a href="/courseform"> Course Form </a> <hr>                                                
                                                    <a href="/access/student-registration">Student Registration</a>  <hr> 
                                                    <a href="/access/log-in">Login</a><hr>
                                                    
                                                                        
                                                </div>
                                            </div>     
                                        </li>
                                </ul>
                                        
                    </nav>
                            
                    <h1 class="h1-all"> E-PORTAL </h1> 
                    <img id="header-img" src="/styles/images/school-building2.png" alt="school building">           
        
            </header>
        </section>

        <main>
           <br><br><br>
            <section class="quick-links">
                <div class="">
                    <h2>Quick Links </h2> 
                </div>
                <div class="tabs"> 
                    <div id="tab-1"><p><a href="/">E-portal</a></p> </div>
                    <div id="tab-4"> <p><a href="/course-registration">Course Registration</a> </p></div>                   
                    <div id="tab-1"><p><a href="/courseform">  Course form </a></p> </div>
                    <div id="tab-4"> <p><a href="/access/log-in"> Log in</a></p></div>                   
                    <div id="tab-1"><p><a href="/access/student-registration">Student Registration</a> </p> </div>            
                </div>
               
            </section>
            
        </main>    

            
            
        <script src="/styles/js/functions.js"></script>


    </body>

</html>
